<div class="row">
  <div class="col-12">
    <button style="cursor: pointer;" class="float-right btn btn-default" (click)="onNewSchedule()">New Schedule</button>
  </div>
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let schedule of schedules;">
        <a [routerLink]="[schedule._id]"
           routerLinkActive="active">{{schedule.hall.cinema.name}} - {{schedule.hall.name}} -
          {{schedule.dateTime | date:'dd/MM/yyyy HH:mm'}} - {{schedule.movie.title}}</a>
      </li>
    </ul>
  </div>
</div>
