<div class="row">
  <div class="col-12">
    <div ngbDropdown class="d-inline-block float-right">
      <button style="cursor: pointer;" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Manage Schedule</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button style="cursor: pointer;" class="dropdown-item" (click)="onEditSchedule()">Edit Schedule</button>
        <button style="cursor: pointer;" class="dropdown-item" (click)="onDeleteSchedule()">Delete Schedule</button>
      </div>
    </div>
    <h1>{{ schedule.hall.cinema.name }}</h1>
    <p>{{ schedule.hall.name }}</p>
    <p>{{ schedule.dateTime | date:'dd/MM/yyyy HH:mm'}}</p>
    <p>{{ schedule.movie.title }}</p>
  </div>
</div>
